@import url('../vendor/fonts/Krub/Krub.css');
@import url('../vendor/fonts/Rubik/Rubik.css');
@import url('../vendor/normalize.css');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Krub', Arial, sans-serif;
}
